<!DOCTYPE html>
<html>
    <head>
        <title>Add new coffee</title>
    </head>
    <body>
        <h1>Add new coffee</h1>
        <form action="/" method="POST">
            <p>
                <label for="coffeeName">Name:</label>
                <input type="text" name="coffeeName" id="coffeeName" required>
            </p>
            <p>
                <label for="coffeeOrigin">Origin:</label>
                <input type="text" name="coffeeOrigin" id="coffeeOrigin" required>
            </p>
            <p>
                <label for="coffeeWeight">Weight:</label>
                <input type="text" name="coffeeWeight" id="coffeeWeight" required>
            </p>
            <p>
                <label for="coffeePrice">Price:</label>
                <input type="text" name="coffeePrice" id="coffeePrice" required>
            </p>
            <p>
                <label for="coffeeQuantity">Quantity:</label>
                <input type="text" name="coffeeQuantity" id="coffeeQuantity" required>
            </p>        
            <p>
                <button type="submit">submit</button>
            </p>
        </form>
    </body>
</html>