<!DOCTYPE html>
<html>
    <head>
        <title>Search for a coffee</title>
    </head>
    <body>
        <h1>Find a coffee for origin</h1>
        <p>
            <form action="/origin" method="GET">
                <label for="origin">Search: </label>
                <select name="origin" id="origin">
                    <% for(let i = 0; i < origin.length; i++) { %>
                    <option value="<%= origin[i] %>"><%= origin[i] %></option>
                    <% } %>
                </select>
                <input type="submit">
            </form>
            <p>
                <a href="/">Go back to homepage</a>
            </p>
        </p>
    </body>
</html>